In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../green_tripdata_2019-09.csv', nrows = 100)

In [4]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [5]:
df.lpep_pickup_datetime =pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime =pd.to_datetime(df.lpep_dropoff_datetime)

In [7]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [20]:
df_iter = pd.read_csv('../green_tripdata_2019-09.csv', iterator =True, chunksize=100000)

In [21]:
df = next(df_iter)

In [22]:
len(df)

100000

In [33]:
df.lpep_pickup_datetime =pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime =pd.to_datetime(df.lpep_dropoff_datetime)

In [25]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [34]:
df.head(n=0).to_sql(name = "green_taxi_data", con=engine, if_exists = 'replace')

0

In [35]:
%time df.to_sql(name = "green_taxi_data", con=engine, if_exists = 'replace')

CPU times: user 55.1 s, sys: 6.57 s, total: 1min 1s
Wall time: 3min 37s

63

In [28]:
while True:
    df = next(df_iter, )
    df.lpep_pickup_datetime =pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime =pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name = "green_taxi_data", con=engine, if_exists = 'append')
    print ('inserted another chunk')

inserted another chunk
inserted another chunk

/var/folders/77/9lf4b4k16jg4bm1mzg6_1tg80000gn/T/ipykernel_39668/464795823.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk
inserted another chunk

StopIteration:

In [30]:
df = pd.read_csv('../green_tripdata_2019-09.csv', low_memory=False)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_pickup_datetime   449063 non-null  object
 2   lpep_dropoff_datetime  449063 non-null  object
 3   store_and_fwd_flag     389920 non-null  object
 4   RatecodeID             389920 non-null  float64
 5   PULocationID           449063 non-null  int64
 6   DOLocationID           449063 non-null  int64
 7   passenger_count        389920 non-null  float64
 8   trip_distance          449063 non-null  float64
 9   fare_amount            449063 non-null  float64
 10  extra                  449063 non-null  float64
 11  mta_tax                449063 non-null  float64
 12  tip_amount             449063 non-null  float64
 13  tolls_amount           449063 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  449063 non-null  float64
 16  total_amount           449063 non-null  float64
 17  payment_type           389920 non-null  float64
 18  trip_type              389920 non-null  float64
 19  congestion_surcharge   389920 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 68.5+ MB

In [36]:
df_new = pd.read_csv('../taxi+_zone_lookup.csv')

In [37]:
df_new

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [39]:
print(pd.io.sql.get_schema(df_new, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [40]:
df_new.head(n=0).to_sql(name = "zones", con=engine, if_exists = 'replace')

0

In [41]:
df_new.to_sql(name = "zones", con=engine, if_exists = 'append')

265